@import "../../../variables.scss";
@import "../../../styles.scss";

.delete-title {
  display: flex;
  letter-spacing: 2px;

  text-transform: uppercase;
  @extend .text-gradient;

  @media (min-width: $medium) {
    font-size: 36px;
  }

  @media (max-width: $medium) {
    font-size: 28px;
  }

  @media (max-width: $small) {
    font-size: 20px;
  }
}

.delete-subtitle {
  font-size: 24px;

  @media (min-width: $medium) {
    font-size: 24px;
  }

  @media (max-width: $medium) {
    font-size: 20px;
  }

  @media (max-width: $small) {
    font-size: 16px;
  }
}

.buttons-container {
  width: 100%;
  margin-top: 1rem;
  display: flex;
  gap: 1rem;
  justify-content: center;
}

.button {
  font-size: 16px;
  width: 45%;
  height: 50px;

  @media (min-width: $medium) {
    font-size: 16px;
  }

  @media (max-width: $medium) {
    font-size: 12px;
  }

  @extend .submit-button;
}
