@import "./variables.scss";
@import "ngx-toastr/toastr";

body {
  background-color: $custom-black-color-100;
  color: $custom-gray-color-100;
}

.authentication-title {
  font-weight: 500;
  text-transform: uppercase;

  @media (min-width: $medium) {
    font-size: 48px;
  }

  @media (max-width: $medium) {
    font-size: 38px;
  }

  @media (max-width: $small) {
    font-size: 28px;
  }

  @extend .text-gradient;
}

.line {
  width: 100%;
  height: 2px;
  background-color: $custom-white-color-100;
}

.page {
  height: 97vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-container {
  width: 650px;
  height: fit-content;
  border: 2px solid $custom-gray-color-100;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  color: $custom-white-color-100;
  box-sizing: border-box;
  padding: 0px 20px;
  padding-bottom: 40px;
  gap: 20px;
  font-family: "Lato";

  @media (max-width: $medium) {
    width: 95%;
  }
}

.credentials-container {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.credentials-input-container {
  display: flex;
  flex-direction: column;
  gap: 4px;
  font-size: 26px;
  font-family: "Lato";

  @media (min-width: $medium) {
    font-size: 26px;
  }

  @media (max-width: $medium) {
    font-size: 20px;
  }

  @media (max-width: $small) {
    font-size: 18px;
  }
}

.credentials-input {
  width: 100%;
  height: 50px;
  border: 2px solid $custom-gray-color-100;
  border-radius: 10px;
  background-color: transparent;
  box-sizing: border-box;
  padding: 0px 12px;
  color: $custom-white-color-100;
  transition: border 0.3s ease-in-out;

  ::placeholder {
    font-size: 12px;
  }

  &:focus {
    outline: none;
    border: 2px solid $custom-white-color-100;
  }
}

.credentials-input.ng-invalid.ng-touched {
  border: 2px solid crimson;
}

[formgroupname].ng-invalid.ng-touched input {
  border: 2px solid crimson;
}

.credentials-submit-button {
  margin-top: auto;
  width: 100%;
  height: 75px;
  border-radius: 10px;
  text-transform: uppercase;
  font-family: "Lato";
  color: $custom-white-color-100;
  background-color: transparent;
  border: 2px solid $custom-white-color-100;
  font-weight: 600;
  font-size: 36px;
  letter-spacing: 2px;
  cursor: pointer;
}

.credentials-submit-button:hover {
  background: linear-gradient(
    45deg,
    transparentize(rgba(255, 0, 0, 0.8), 0.1),
    transparentize(rgba(255, 0, 127, 0.8), 0.1),
    transparentize(rgba(205, 81, 205, 0.8), 0.1),
    transparentize(rgba(128, 0, 128, 0.8), 0.1)
  );
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  backdrop-filter: blur(10px);
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-container {
  z-index: 1;
  border: 2px solid $custom-gray-color-100;
  color: $custom-white-color-100;
  border-radius: 1rem;
  box-sizing: border-box;
  font-family: "Lato";

  @media (max-width: $medium) {
    width: 95%;
  }
}

.details-button {
  height: 45px;
  padding: 0 10px;
  box-sizing: border-box;
  background-color: transparent;
  border: solid 2px $custom-gray-color-100;
  text-transform: uppercase;
  border-radius: 1em;
  color: $custom-gray-color-100;
  display: flex;
  align-items: center;
  transition: all 0.3s ease-in-out;

  &:hover {
    -webkit-text-fill-color: $custom-white-color-100;
    border: 2px solid $custom-white-color-100;
    cursor: pointer;
    background-color: #e91e63;

    @extend .background-gradient;
  }
}

.background-gradient {
  background-image: linear-gradient(
    45deg,
    transparentize(rgba(255, 0, 0, 0.8), 0.1),
    transparentize(rgba(255, 0, 127, 0.8), 0.1),
    transparentize(rgba(205, 81, 205, 0.8), 0.1),
    transparentize(rgba(128, 0, 128, 0.8), 0.1)
  );
}

.text-gradient {
  background: linear-gradient(
    125deg,
    rgba(255, 0, 0, 1),
    rgba(255, 0, 127, 1),
    rgba(205, 81, 205, 1),
    rgba(128, 0, 128, 1)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-repeat: no-repeat;
  background-clip: text;
}

.low-priority-level-bg-gradient {
  background: linear-gradient(
    45deg,
    rgba(144, 238, 144, 0.7),
    rgba(50, 205, 50, 0.7),
    rgba(34, 139, 34, 0.7)
  );
}

.medium-priority-level-bg-gradient {
  background: linear-gradient(
    45deg,
    rgba(255, 255, 0, 0.7),
    rgba(255, 165, 0, 0.7),
    rgba(255, 140, 0, 0.7)
  );
}

.high-priority-level-bg-gradient {
  background: linear-gradient(
    45deg,
    rgba(255, 0, 0, 0.7),
    rgba(255, 69, 0, 0.7),
    rgba(205, 92, 92, 0.7)
  );
}

.low-priority-level-text-gradient {
  background: linear-gradient(
    45deg,
    rgba(144, 238, 144, 0.7),
    rgba(50, 205, 50, 0.7),
    rgba(34, 139, 34, 0.7)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-repeat: no-repeat;
  background-clip: text;
}

.medium-priority-level-text-gradient {
  background: linear-gradient(
    45deg,
    rgba(255, 255, 0, 0.7),
    rgba(255, 165, 0, 0.7),
    rgba(255, 140, 0, 0.7)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-repeat: no-repeat;
  background-clip: text;
}

.high-priority-level-text-gradient {
  background: linear-gradient(
    45deg,
    rgba(255, 0, 0, 0.7),
    rgba(255, 69, 0, 0.7),
    rgba(205, 92, 92, 0.7)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-repeat: no-repeat;
  background-clip: text;
}

.submit-button {
  text-transform: uppercase;
  background-color: transparent;
  font-weight: 600;
  letter-spacing: 2px;
  color: $custom-white-color-100;
  border: 2px solid $custom-white-color-100;
  border-radius: 10px;
  transition: background-color 0.3s ease-in-out;

  &:hover {
    background-color: #e91e63;
    cursor: pointer;
    @extend .background-gradient;
  }
}

.hidden {
  display: none;
}

.icon {
  font-size: 20px;
  height: 20px;
  width: 20px;
}

.icon-button {
  width: 40px;
  height: 40px;
  background-color: transparent;
  border: 2px solid $custom-gray-color-100;
  border-radius: 10px;
  box-sizing: border-box;
  color: $custom-gray-color-100;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: color 0.3s ease-in-out, border 0.3s ease-in-out;

  &:hover {
    border: 2px solid $custom-white-color-100;
    color: $custom-white-color-100;
  }
}

.scrollbar {
  &::-webkit-scrollbar {
    width: 8px;
  }

  &::-webkit-scrollbar-thumb {
    @extend .background-gradient;
    border-radius: 3px;
  }

  &::-webkit-scrollbar-thumb:hover {
    cursor: pointer;
  }
}

.lato-light {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.lato-regular {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.lato-bold {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.lato-light-italic {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.lato-regular-italic {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.lato-bold-italic {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-style: italic;
}
