@import "./variables.scss";

body {
  background-color: $custom-black-color-100;
  color: $custom-gray-color-100;
}

.line {
  width: 100%;
  height: 2px;
  background-color: $custom-white-color-100;
}

.page-container {
  width: 100%;
  height: 98vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form-container {
  width: 650px;
  height: fit-content;
  min-height: 550px;
  border: 2px solid $custom-gray-color-100;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  color: $custom-white-color-100;
  box-sizing: border-box;
  padding: 0px 20px;
  padding-bottom: 40px;
  align-items: stretch;
  gap: 20px;
  font-family: "Lato";
}

.credentials-container {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.credentials-input-container {
  display: flex;
  flex-direction: column;
  gap: 4px;
  font-size: 26px;
  font-family: "Lato";
}

.credentials-input {
  width: 100%;
  height: 50px;
  border: 2px solid $custom-gray-color-100;
  border-radius: 10px;
  background-color: transparent;
  font-size: 16px;
  box-sizing: border-box;
  padding: 0px 12px;
  color: $custom-white-color-100;

  ::placeholder {
    font-size: 12px;
  }
}

.credentials-input:focus {
  outline: none;
  border: 2px solid $custom-white-color-100;
}

.credentials-input.ng-invalid.ng-touched {
  border: 2px solid crimson;
}

[formgroupname].ng-invalid.ng-touched input {
  border: 2px solid crimson;
}

.credentials-submit-button {
  margin-top: auto;
  width: 100%;
  height: 75px;
  border-radius: 10px;
  text-transform: uppercase;
  font-family: "Lato";
  color: $custom-white-color-100;
  background-color: transparent;
  border: 2px solid $custom-white-color-100;
  font-weight: 600;
  font-size: 36px;
  letter-spacing: 2px;
  cursor: pointer;
}

.credentials-submit-button:hover {
  background: linear-gradient(
    45deg,
    transparentize(rgba(255, 0, 0, 0.8), 0.1),
    transparentize(rgba(255, 0, 127, 0.8), 0.1),
    transparentize(rgba(205, 81, 205, 0.8), 0.1),
    transparentize(rgba(128, 0, 128, 0.8), 0.1)
  );
}

.text-gradient {
  background: linear-gradient(125deg, red, #ff007f, #cd51cd, purple);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-repeat: no-repeat;
  background-clip: text;
}

.low-priority-level-bg-gradient {
  background: linear-gradient(
    45deg,
    rgba(144, 238, 144, 0.7),
    rgba(50, 205, 50, 0.7),
    rgba(34, 139, 34, 0.7)
  );
}

.medium-priority-level-bg-gradient {
  background: linear-gradient(
    45deg,
    rgba(255, 255, 0, 0.7),
    rgba(255, 165, 0, 0.7),
    rgba(255, 140, 0, 0.7)
  );
}

.high-priority-level-bg-gradient {
  background: linear-gradient(
    45deg,
    rgba(255, 0, 0, 0.7),
    rgba(255, 69, 0, 0.7),
    rgba(205, 92, 92, 0.7)
  );
}

.low-priority-level-text-gradient {
  background: linear-gradient(
    45deg,
    rgba(144, 238, 144, 0.7),
    rgba(50, 205, 50, 0.7),
    rgba(34, 139, 34, 0.7)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-repeat: no-repeat;
  background-clip: text;
}

.medium-priority-level-text-gradient {
  background: linear-gradient(
    45deg,
    rgba(255, 255, 0, 0.7),
    rgba(255, 165, 0, 0.7),
    rgba(255, 140, 0, 0.7)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-repeat: no-repeat;
  background-clip: text;
}

.high-priority-level-text-gradient {
  background: linear-gradient(
    45deg,
    rgba(255, 0, 0, 0.7),
    rgba(255, 69, 0, 0.7),
    rgba(205, 92, 92, 0.7)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-repeat: no-repeat;
  background-clip: text;
}

.hidden {
  display: none;
}

.lato-light {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.lato-regular {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.lato-bold {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.lato-light-italic {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.lato-regular-italic {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.lato-bold-italic {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-style: italic;
}
