$custom-black-color-100: #0f0f11;
$custom-gray-color-100: #6c6970;
$custom-gray-color-200: #232125;
$custom-white-color-100: #fbfbfb;

$extra-large-2: 1536px;
$extra-large-1: 1280px;
$large: 1024px;
$medium: 768px;
$small: 576px;
