<form
  [formGroup]="taskForm"
  (ngSubmit)="submitTask()"
  class="task-form-container"
>
  <input
    formControlName="title"
    placeholder="Enter a task title"
    class="task-title-input"
    [placeholder]="
      taskForm.get('title')?.hasError('required') &&
      taskForm.get('title')?.touched
        ? 'Title is required!'
        : 'Enter a task title'
    "
  />
  <textarea
    formControlName="details"
    placeholder="Enter task details"
    class="task-details-textarea"
    [placeholder]="
      taskForm.get('details')?.hasError('required') &&
      taskForm.get('details')?.touched
        ? 'Details are required!'
        : 'Enter task details'
    "
  ></textarea>
  <div class="date-container">
    <input formControlName="deadline" type="date" class="task-date-input" />
    @if (taskForm.get('deadline')?.hasError("futureDate") &&
    taskForm.get('deadline')?.touched) {
    <p class="error-message">Date must be in the future!</p>
    } @else if (taskForm.get('deadline')?.hasError("required") &&
    taskForm.get('deadline')?.touched) {
    <p class="error-message">Date is required!</p>
    }
  </div>
  <div class="priority-container">
    <label>Priority:</label>
    <div class="priority-buttons-container">
      @for (priority of priorityLevels; track $index) {
      <app-task-priority-button
        [priorityName]="priority"
        [isPrioritySelected]="isPriorityChosen(priority)"
        (selectedPriority)="setChosenPriority($event)"
      />
      }
    </div>
    <button type="submit" class="task-submit-button">{{ buttonName() }}</button>
  </div>
</form>
