@import "../../../variables.scss";
@import "../../../styles.scss";

.task-card {
  height: 75px;
  border: 2px solid $custom-gray-color-100;
  border-radius: 1rem;
  padding: 0 20px;
  display: flex;
  align-items: center;
  transition: border 0.3s ease-in-out;

  &:hover {
    border: 2px solid $custom-white-color-100;
  }
}

.priority-level {
  width: 30px;
  height: 30px;
  background-color: aqua;
  border-radius: 100%;
  margin-right: 2rem;

  &.priority-level-low {
    @extend .low-priority-level-bg-gradient;
  }

  &.priority-level-medium {
    @extend .medium-priority-level-bg-gradient;
  }

  &.priority-level-high {
    @extend .high-priority-level-bg-gradient;
  }
}

.task-details-options-container {
  display: flex;
  margin-left: auto;
  align-items: center;
  gap: 1rem;
}
