@import "../../../variables.scss";
@import "../../../styles.scss";

.task-card {
  height: 75px;
  border: 2px solid $custom-gray-color-100;
  border-radius: 1rem;
  padding: 0 20px;
  display: flex;
  align-items: center;
  transition: border 0.3s ease-in-out;

  &:hover {
    border: 2px solid $custom-white-color-100;
  }

  @media (max-width: $large) {
    padding: 0 10px;
    font-size: 12px;
  }
}

.priority-level {
  width: 30px;
  height: 30px;
  background-color: aqua;
  border-radius: 100%;
  margin-right: 2rem;

  &.priority-level-low {
    @extend .low-priority-level-bg-gradient;
  }

  &.priority-level-medium {
    @extend .medium-priority-level-bg-gradient;
  }

  &.priority-level-high {
    @extend .high-priority-level-bg-gradient;
  }

  @media (max-width: $large) {
    width: 24px;
    height: 24px;
    margin-right: 1rem;
  }
}

.task-details-options-container {
  display: flex;
  margin-left: auto;
  align-items: center;
  gap: 1rem;

  @media (max-width: $large) {
    gap: 10px;
  }
}

.details-button {
  @media (max-width: $large) {
    height: 35px;
    border-radius: 6px;
  }
}

.icon-button {
  @media (max-width: $large) {
    width: 28px;
    height: 28px;
    border-radius: 6px;
  }
}

.icon {
  @media (max-width: $large) {
    font-size: 14px;
    height: 14px;
    width: 14px;
  }
}
