<div class="overlay"></div>
<div class="modal-container">
  <div class="modal-header">
    <h1 class="modal-title">Add New Task or Note</h1>
    <button class="icon-button">
      <i [ngClass]="cancelIcon" class="cancel-icon"></i>
    </button>
  </div>
  <div class="options-container">
    <div class="modal-sidebar">
      <p
        class="option-category"
        [ngClass]="{ 'option-category-active': isActiveCategory('task') }"
        (click)="setActiveCategory('task')"
      >
        Task
      </p>
      <p
        class="option-category"
        [ngClass]="{ 'option-category-active': isActiveCategory('project') }"
        (click)="setActiveCategory('project')"
      >
        Project
      </p>
      <p
        class="option-category"
        [ngClass]="{ 'option-category-active': isActiveCategory('note') }"
        (click)="setActiveCategory('note')"
      >
        Note
      </p>
    </div>
    <div class="actions-container">
      <input
        type="text"
        class="task-title-input"
        placeholder="Enter a task title"
      />
      <textarea
        placeholder="Enter a task details"
        class="task-details-textarea"
      ></textarea>
      <div class="date-container">
        <label>Due date:</label>
        <input class="task-date-input" type="date" />
      </div>
      <div class="priority-container">
        <label>Priority:</label>
        <div class="priority-buttons-container">
          <div class="button-overlay button-overlay-low">
            <button class="priority-button">
              <p class="priority-button-text priority-button-text-low">Low</p>
            </button>
          </div>
          <div class="button-overlay button-overlay-medium">
            <button class="priority-button">
              <p class="priority-button-text priority-button-text-medium">
                Medium
              </p>
            </button>
          </div>
          <div class="button-overlay button-overlay-high">
            <button class="priority-button">
              <p class="priority-button-text priority-button-text-high">High</p>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
