<form
  [formGroup]="newTaskForm"
  (submit)="addNewTask()"
  class="task-form-container"
>
  <input
    type="text"
    class="task-title-input"
    [placeholder]="
      newTaskForm.get('title')?.hasError('required') &&
      newTaskForm.get('title')?.touched
        ? 'Title is required!'
        : 'Enter a task title'
    "
    formControlName="title"
  />
  <textarea
    [placeholder]="
      newTaskForm.get('details')?.hasError('required') &&
      newTaskForm.get('details')?.touched
        ? 'Details are required!'
        : 'Enter task details'
    "
    class="task-details-textarea"
    formControlName="details"
  ></textarea>
  <div class="date-container">
    <label>Due date:</label>
    <input class="task-date-input" type="date" formControlName="dueDate" />

    @if (newTaskForm.get('dueDate')?.hasError("futureDate") &&
    newTaskForm.get('dueDate')?.touched) {
    <p class="error-message">Date must be in the future!</p>
    } @else if (newTaskForm.get('dueDate')?.hasError("required") &&
    newTaskForm.get('dueDate')?.touched) {
    <p class="error-message">Date is required!</p>
    }
  </div>
  <div class="priority-container">
    <label>Priority:</label>
    <div class="priority-buttons-container">
      @for (priorityData of priorityLevels; track $index) {
      <div
        [ngClass]="{
          'button-overlay-selected': isPriorityChosen(priorityData.value)
        }"
        class="button-overlay"
        [class]="priorityData.buttonClass"
      >
        <button
          [ngClass]="[
            isPriorityChosen(priorityData.value)
              ? priorityData.activeButtonClass
              : ''
          ]"
          (click)="setChosenPrioroty(priorityData.value)"
          class="priority-button"
          type="button"
        >
          <p
            [ngClass]="{
              'priority-button-text-selected': isPriorityChosen(
                priorityData.value
              )
            }"
            class="priority-button-text"
            [class]="priorityData.textClass"
          >
            {{ priorityData.label }}
          </p>
        </button>
      </div>
      }
    </div>
    <button class="task-submit-button">Add Task</button>
  </div>
</form>
