@import "../../../variables.scss";
@import "../../../styles.scss";

.container {
  height: calc(100vh - 115px);
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: masonry;
  overflow-y: auto;
  padding: 0 40px;

  @extend .scrollbar;

  @media (max-width: $extra-large-1) {
    grid-template-columns: repeat(2, 1fr);
    padding: 0 20px;
    gap: 1rem;
  }

  @media (max-width: $large) {
    grid-template-columns: repeat(2, 1fr);
    padding: 0 20px;
    gap: 1rem;
  }
}
