@import "../../../variables.scss";
@import "../../../styles.scss";

.container {
  height: calc(100vh - 115px);
  display: grid;
  grid-auto-rows: masonry;
  overflow-y: auto;

  @media (min-width: $extra-large-1) {
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    // padding: 0 40px;
  }

  @media (max-width: $extra-large-1) {
    grid-template-columns: repeat(2, 1fr);
    padding: 0 20px;
    gap: 8px;
  }

  @media (max-width: $large) {
    grid-template-columns: repeat(2, 1fr);
    padding: 0 20px;
    gap: 8px;
  }

  @media (max-width: $small) {
    grid-template-columns: repeat(1, 1fr);
    gap: 4px;
    padding: 0;
  }

  @extend .scrollbar;
}

.column {
  column-span: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}
