@import "../../variables.scss";
@import "../../styles.scss";

.side-bar-container {
  height: calc(100vh - 115px);
  min-width: 330px;
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  padding: 40px 20px;
  font-family: "Lato";
  overflow-y: auto;

  @media (max-width: $extra-large-2) {
    overflow-y: auto;
    padding: 25px 15px;
    min-width: 300px;
  }

  @media (max-width: $large) {
    padding: 20px 10px;
    min-width: 250px;
  }

  @media (min-width: $medium) {
    border-right: 2px solid $custom-gray-color-200;
  }

  @media (max-width: $medium) {
    min-width: 300px;
    background-color: $custom-black-color-100;
    position: absolute;
    border-left: 2px solid $custom-gray-color-200;
    right: 0;
    z-index: 1;
  }

  @extend .scrollbar;
}

h2 {
  font-size: 36px;
  font-weight: 500;

  &.active {
    @extend .text-gradient;
  }

  @media (max-width: $large) {
    font-size: 28px;
  }
}

.categories-container {
  display: flex;
  flex-direction: column;
  color: $custom-white-color-100;
}

.subcategories-list {
  display: flex;
  flex-direction: column;
  list-style: none;
  gap: 16px;
  font-size: 20px;

  @media (max-width: $large) {
    font-size: 16px;
  }
}
.tasks-subcategories-list {
  height: 100px;

  @extend .subcategories-list;
}

.projects-subcategories-list {
  height: 150px;
  overflow-y: overlay;
  overflow-wrap: break-word;

  @extend .scrollbar;
  @extend .subcategories-list;
}

.category {
  cursor: pointer;

  &.active {
    font-weight: 500;
    @extend .text-gradient;
  }
}

.add-button {
  width: 100%;
  min-height: 75px;
  background-color: transparent;
  border: 2px solid $custom-white-color-100;
  border-radius: 10px;
  color: $custom-white-color-100;
  text-transform: uppercase;
  cursor: pointer;
  font-size: 30px;
  font-weight: 400;
  letter-spacing: 2px;
  margin-top: auto;
  transition: background-color 0.3s ease-in-out;

  &:hover {
    background-color: #e91e63;
    @extend .background-gradient;
  }

  @media (max-width: $extra-large-2) {
    margin-top: 1rem;
  }

  @media (max-width: $large) {
    min-height: 65px;
    font-size: 20px;
  }
}
