<div class="side-bar-container">
  <div class="categories-container">
    <h2>Tasks</h2>
    <ul class="subcategories-list">
      <li
        class="category"
        [ngClass]="{ active: isCategoryChosen('all') }"
        (click)="setChosenCategory('all')"
      >
        All
      </li>
      <li
        class="category"
        [ngClass]="{ active: isCategoryChosen('today') }"
        (click)="setChosenCategory('today')"
      >
        Today
      </li>
      <li
        class="category"
        [ngClass]="{ active: isCategoryChosen('week') }"
        (click)="setChosenCategory('week')"
      >
        Week
      </li>
    </ul>
    <h2>Projects</h2>
    <ul class="subcategories-list">
      <li (click)="setChosenCategory('home')">home</li>
    </ul>
    <h2 (click)="setChosenCategory('notes')">Notes</h2>
  </div>
  <button (click)="openModal()" class="add-button">ADD Task</button>

  @if (isActionModalOpen) {
  <app-add-task-modal
    [activeSideBarCategory]="chosenCategory"
    (closeModal)="closeModal()"
  ></app-add-task-modal>
  }
</div>
