@import "../../variables.scss";
@import "../../styles.scss";

.note-title-input {
  height: 15%;
  width: 100%;
  @extend .note-data-input;
}

.note-details-textarea {
  height: 65%;
  width: 100%;
  resize: none;
  @extend .note-data-input;
}

.note-data-input {
  font-size: 20px;
  background-color: transparent;
  border: 2px solid transparent;
  box-sizing: border-box;
  padding: 0 20px;
  color: $custom-white-color-100;
  font-family: "Lato";

  &:focus {
    outline: none;
  }

  &::placeholder {
    font-size: 20px;
    color: $custom-gray-color-100;
    font-weight: 500;
    letter-spacing: 1px;
  }
}

.submit-button-container {
  width: 100%;
  height: 75px;
  padding: 0 20px;
  display: flex;
  align-content: center;
}

.note-submit-button {
  height: 50px;
  width: 150px;
  margin-top: auto;
  @extend .action-modal-submit-button;
}
