@use "sass:color";
@import "../../styles.scss";
@import "../../variables.scss";

.home-container {
  width: 100%;
  height: calc(100vh - 116px);
  display: flex;
  box-sizing: border-box;
  overflow: hidden;
}

.home-data-container {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 4fr;
  box-sizing: border-box;
}

.modal-container {
  height: auto;
  width: 650px;
  padding: 40px;
  font-family: "Lato";
  text-align: center;
}

h1 {
  font-size: 38px;
}

p {
  width: 100%;
  height: 2px;
  background-color: #fbfbfb;
  margin-top: 10px;
}

.buttons-container {
  margin-top: 20px;
  width: 100%;
  height: 75px;
  display: flex;
  justify-content: space-between;
}

.authentication-button {
  width: 45%;
  border-radius: 20px;
  background-color: transparent;
  border: 2px solid #fbfbfb;
  cursor: pointer;
  color: #fbfbfb;
  text-transform: uppercase;
  letter-spacing: 4px;
  font-size: 24px;
  font-weight: 200;
  position: relative;
  overflow: hidden;
}

.authentication-button:hover {
  @extend .background-gradient;
}
