<div class="home-container">
  @if (!isUserLogged) {
  <div class="modal-overlay">
    <div class="modal-container">
      <h1>Log in to see the hide content</h1>
      <p></p>

      <div class="buttons-container">
        <button routerLink="/sign-in" class="authentication-button">
          Sign in
        </button>
        <button routerLink="/sign-up" class="authentication-button">
          Sign up
        </button>
      </div>
    </div>
  </div>
  }
  <div class="home-data-container">
    <div class="side">
      <app-side-bar
        #sidebar
        (currentCategory)="setCurrentChosenCategoryInSidebar($event)"
        (toggleActionModal)="toggleModal()"
      />
    </div>
    @if (currentChosenCategoryInSidebar === 'notes') {
    <app-note-list />
    } @else {
    <app-task-list
      (projectDeleted)="handleDeletedProject(sidebar)"
      [currentChosenCategoryInSidebar]="currentChosenCategoryInSidebar"
    />
    }
  </div>

  <app-action-modal
    [activeSideBarCategory]="currentChosenCategoryInSidebar"
    (newTaskAdded)="handleDataAdded()"
    (closeModal)="toggleModal()"
    [isModalOpen]="isActionModalOpen"
  />
</div>
