@use "sass:color";

.home-container {
  width: 100%;
  height: calc(100vh - 115px);
  display: flex;
  position: relative;
  box-sizing: border-box;
}

.home-data-container {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 4fr;
  box-sizing: border-box;
}

.non-logged-info-modal {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  width: 650px;
  height: auto;
  border: 2px solid #6c6970;
  border-radius: 20px;
  box-sizing: border-box;
  padding: 40px;
  color: #fbfbfb;
  font-family: "Lato";
  text-align: center;
  gap: 20px;
  overflow: hidden;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(20px);
    z-index: -1;
  }
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.01);
  backdrop-filter: blur(10px);
  z-index: 0;
}

h1 {
  font-size: 38px;
}

p {
  width: 100%;
  height: 2px;
  background-color: #fbfbfb;
  margin-top: 10px;
}

.buttons-container {
  margin-top: 20px;
  width: 100%;
  height: 75px;
  display: flex;
  justify-content: space-between;
}

.authentication-button {
  width: 45%;
  border-radius: 20px;
  background-color: transparent;
  border: 2px solid #fbfbfb;
  cursor: pointer;
  color: #fbfbfb;
  text-transform: uppercase;
  letter-spacing: 4px;
  font-size: 24px;
  font-weight: 200;
  position: relative;
  overflow: hidden;
}

.authentication-button:hover {
  background: linear-gradient(
    45deg,
    transparentize(rgba(255, 0, 0, 0.7), 0.1),
    transparentize(rgba(255, 0, 127, 0.7), 0.1),
    transparentize(rgba(205, 81, 205, 0.7), 0.1),
    transparentize(rgba(128, 0, 128, 0.7), 0.1)
  );
}
