@use "sass:color";
@import "../../styles.scss";
@import "../../variables.scss";

.home-container {
  width: 100%;
  height: calc(100vh - 116px);
  display: flex;
  box-sizing: border-box;
  overflow: hidden;
}

.side {
  display: flex;
  position: relative;
  width: 100%;
}

.home-data-container {
  width: 100%;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 1fr 4fr;

  @media (max-width: $medium) {
    grid-template-columns: 1fr;
    // position: absolute;
    left: 0;
  }
}

.modal-container {
  height: auto;
  width: 650px;
  padding: 40px;
  font-family: "Lato";
  text-align: center;
}

h1 {
  font-size: 38px;
}

p {
  width: 100%;
  height: 2px;
  background-color: #fbfbfb;
  margin-top: 10px;
}

.buttons-container {
  margin-top: 20px;
  width: 100%;
  height: 75px;
  display: flex;
  justify-content: space-between;
}

.authentication-button {
  width: 45%;
  font-size: 24px;
  @extend .submit-button;
}

.authentication-button:hover {
  @extend .background-gradient;
}
