<app-app-modal
  [isModalOpen]="isModalOpen"
  [modalContainerClass]="'medium-modal'"
  (close)="handleCloseModal()"
>
  <button (click)="handleCloseModal()" class="icon-button">
    <i [ngClass]="cancelIcon" class="icon"></i>
  </button>
  <h1 class="details-title">{{ chosenTaskData?.title }}</h1>
  <div class="data-container">
    @for (data of modalData; track $index) {
    <div class="details-item">
      <label>{{ data.label }}:</label>
      <p>{{ data.taskData | capitalizeFirstLetter }}</p>
    </div>
    }
  </div>
</app-app-modal>
