@import "../../../variables.scss";
@import "../../../styles.scss";

.modal-container {
  height: auto;
  padding: 1rem;
  display: flex;
  flex-direction: column;

  @media (min-width: $medium) {
    width: 750px;
  }
}

.details-title {
  text-transform: uppercase;

  @media (min-width: $medium) {
    font-size: 28px;
  }

  @media (max-width: $medium) {
    font-size: 20px;
  }

  @extend .text-gradient;
}

.details-item {
  display: flex;
  gap: 1rem;
  align-items: center;

  @media (min-width: $medium) {
    font-size: 18px;
  }

  @media (max-width: $medium) {
    font-size: 14px;
  }
}

.details-item label {
  font-weight: 600;
}

.data-container {
  display: flex;
  flex-direction: column;
}

.icon-button {
  position: absolute;
  right: 0;
  top: 0;
  margin-top: 1rem;
  margin-right: 1rem;
}

.icon {
  margin-left: 1px;
}
