<form [formGroup]="noteForm" class="note-form-container">
  <input
    type="text"
    class="note-title-input"
    formControlName="title"
    [placeholder]="
      noteForm.get('title')?.touched && noteForm.get('title')?.errors
        ? 'Please enter a title data!'
        : 'Enter a note title'
    "
  />
  <textarea
    class="note-details-textarea"
    formControlName="details"
    [placeholder]="
      noteForm.get('details')?.touched && noteForm.get('details')?.errors
        ? 'Please enter a details data!'
        : 'Enter a note details'
    "
  ></textarea>
  <div class="submit-button-container">
    <button (click)="handleAddNewNote()" class="note-submit-button">
      Add note
    </button>
  </div>
</form>
