<div class="task-list-container">
  @if (!['home', 'all', 'today', 'week',
  'notes'].includes(currentChosenCategoryInSidebar())) {

  <app-project-banner
    [currentChosenCategoryInSidebar]="currentChosenCategoryInSidebar()"
    (projectDeleted)="handleProjectDeleted()"
  />
  }
  <div class="task-cards-container">
    @for (task of userTasksToDisplay(); track task.id) {
    <app-task-card
      [taskData]="task"
      (editTask)="openEditTaskModal($event)"
      (showTaskDetailsModal)="openDetailsModal($event)"
    />
    }
  </div>

  @if (isEditTaskModalOpen && chosenTaskId) {
  <app-edit-task-modal
    [taskId]="chosenTaskId"
    (closeModal)="closeEditTaskModal()"
  />
  } @if (isDetailsModalOpen && chosenTaskId) {
  <app-task-details-modal
    [taskId]="chosenTaskId"
    (closeModal)="closeDetailsModal()"
  />
  }
</div>
