@import "../../../variables.scss";
@import "../../../styles.scss";

.task-list-container {
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  font-family: "Lato";
  color: $custom-white-color-100;
  gap: 1rem;
}

.task-cards-container {
  height: calc(100vh - 120px);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  font-family: "Lato";
  color: $custom-white-color-100;
  gap: 1rem;
  overflow-y: auto;

  @media (min-width: $medium) {
    padding: 40px;
  }

  @media (max-width: $medium) {
    padding: 30px;
  }

  @media (max-width: $small) {
    padding: 2px;
  }

  @extend .scrollbar;
}
