@import "../../../variables.scss";

.task-list-container {
  height: 100%;
  box-sizing: border-box;
  padding: 40px;
  display: flex;
  flex-direction: column;
  font-family: "Lato";
  color: $custom-white-color-100;
  gap: 1rem;
}
