<form
  [formGroup]="signUpForm"
  (ngSubmit)="register()"
  autocomplete="off"
  class="form-container"
>
  <div class="title-container">
    <h1>Sign Up</h1>
    <p class="line"></p>
  </div>

  <div class="credentials-container">
    <div class="credentials-input-container">
      <label>Username</label>
      <input
        formControlName="username"
        name="username"
        autocomplete="off"
        type="text"
        class="credentials-input"
      />
      @if (usernameIsInvalid) {
      <p>''</p>
      }
    </div>
    <div class="credentials-input-container">
      <label>E-mail</label>
      <input
        formControlName="email"
        name="email"
        autocomplete="off"
        type="email"
        class="credentials-input"
      />
      @if (emailIsInvalid) {
      <p>"</p>
      }
    </div>
    <div class="credentials-input-container" formGroupName="passwords">
      <label>Password</label>
      <input
        formControlName="password"
        name="password"
        autocomplete="off"
        type="password"
        class="credentials-input"
      />
      <!-- @if (passwordIsInvalid) {
      <p>""</p>
      } -->
    </div>

    <div class="credentials-input-container" formGroupName="passwords">
      <label>Confirm password</label>
      <input
        formControlName="confirmPassword"
        name="confirmPassword"
        autocomplete="off"
        type="password"
        class="credentials-input"
      />
      <!-- @if (passwordIsInvalid) {
      <p>""</p>
      } -->
    </div>
  </div>

  <button type="submit" class="credentials-submit-button">Submit</button>
</form>
