@import "../../variables.scss";
@import "../../styles.scss";

.task-card {
  height: 75px;
  border: 2px solid $custom-gray-color-100;
  border-radius: 1rem;
  padding: 0 20px;
  display: flex;
  align-items: center;
}

.task-card:hover {
  border: 2px solid $custom-white-color-100;
}

.priority-level {
  width: 30px;
  height: 30px;
  background-color: aqua;
  border-radius: 100%;
  margin-right: 2rem;

  &.priority-level-low {
    @extend .low-priority-level-bg-gradient;
  }

  &.priority-level-medium {
    @extend .medium-priority-level-bg-gradient;
  }

  &.priority-level-high {
    @extend .high-priority-level-bg-gradient;
  }
}

.task-details-options-container {
  display: flex;
  margin-left: auto;
  align-items: center;
  gap: 1rem;
}

.details-button {
  height: 45px;
  padding: 0 10px;
  box-sizing: border-box;
  background-color: transparent;
  border: solid 2px $custom-gray-color-100;
  text-transform: uppercase;
  border-radius: 1em;
  color: $custom-gray-color-100;
  display: flex;
  align-items: center;
}

.details-button:hover {
  -webkit-text-fill-color: $custom-white-color-100;
  border: 2px solid $custom-white-color-100;
  cursor: pointer;

  @extend .background-gradient;
}

.icon-button {
  width: 40px;
  height: 40px;
  background-color: transparent;
  border: 2px solid $custom-gray-color-100;
  border-radius: 10px;
  box-sizing: border-box;
  color: $custom-gray-color-100;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.icon-button:hover {
  border: 2px solid $custom-white-color-100;
  color: $custom-white-color-100;
}

.icon {
  height: 20px;
  font-size: 20px;
}
