@import "../../../variables.scss";
@import "../../../styles.scss";

.note-card {
  width: 350px;
  height: auto;
  padding: 20px;
  background-color: transparent;
  border: 2px solid $custom-gray-color-100;
  border-radius: 10px;
  margin: 40px 0;
  font-family: "Lato";
  position: relative;

  transition: transform 0.3s ease-in-out, border 0.3s ease-in-out,
    box-shadow 0.3s ease-in-out;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

  &:hover {
    transform: scale(1.05);
    border: 2px solid $custom-white-color-100;
    box-shadow: 0 8px 15px rgba($color: $custom-white-color-100, $alpha: 0.4);
  }

  @media (max-width: $extra-large-2) {
    width: 235px;
  }

  @media (max-width: $extra-large-1) {
    width: 255px;
  }

  @media (max-width: $large) {
    width: 175px;
  }
}

.icon-button {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 0;
  right: 0;
  margin-right: 10px;
  margin-top: 10px;

  @media (max-width: $large) {
    width: 24px;
    height: 24px;
    border-radius: 6px;
  }
}

.icon {
  font-size: 18px;
  width: 18px;
  height: 18px;
}

.note-title {
  font-size: 28px;
  font-weight: 600;
  padding-bottom: 8px;
  color: $custom-white-color-100;
  border-bottom: 2px solid $custom-gray-color-100;

  @media (max-width: $extra-large-2) {
    font-size: 24px;
  }

  @media (max-width: $large) {
    font-size: 18px;
  }
}

.note-content {
  font-size: 20px;
  width: 100%;
  height: auto;
  text-justify: auto;
  background-color: transparent;
  color: $custom-white-color-100;
  outline: none;
  border: none;
  resize: none;
  overflow: hidden;

  @media (max-width: $extra-large-2) {
    font-size: 18px;
  }

  @media (max-width: $large) {
    font-size: 14px;
  }
}
