<div class="project-data-container">
  <h2 class="project-title">{{ currentChosenCategoryInSidebar() }}</h2>
  <div class="buttons-container">
    <button (click)="toggleDetailsModal()" class="details-button">
      details
    </button>
    <button (click)="toggleDeleteModal()" class="icon-button">
      <i [ngClass]="deleteIcon" class="icon"></i>
    </button>
  </div>

  @if (isDetailsModalOpen) {
  <app-project-details-modal
    [chosenProjectTitle]="currentChosenCategoryInSidebar()"
    (closeModal)="toggleDetailsModal()"
  />
  } @else if (isDeleteModalOpen) {
  <app-delete-warning-modal
    (cancel)="toggleDeleteModal()"
    (delete)="handleDeleteUserProject()"
  />
  }
</div>
