@import "../../styles.scss";

.title-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

label {
  margin-left: 10px;
}

input.error {
  border: 2px solid crimson;
}

label {
  margin-left: 3px;
}

.error-message {
  width: 100%;
  text-align: center;
  font-weight: 500;
  color: crimson;
  font-size: 24px;
  font-family: "Lato";
}

.submit-button {
  margin-top: 2rem;

  @media (min-width: $medium) {
    height: 75px;
    font-size: 28px;
  }

  @media (max-width: $medium) {
    height: 60px;
    font-size: 20px;
  }

  @media (max-width: $small) {
    font-size: 18px;
  }
}
