@import "../../../variables.scss";
@import "../../../styles.scss";

.modal-container {
  height: 550px;

  @media (min-width: $medium) {
    width: 750px;
  }
}

.icon-button {
  position: absolute;
  right: 0;
  top: 0;
  margin-top: 1rem;
  margin-right: 1rem;
}

.icon {
  margin-left: 1px;
}

.icon {
  height: 20px;
  font-size: 20px;
}
