@import "../../../variables.scss";
@import "../../../styles.scss";

.button-overlay {
  height: 55px;
  padding: 0 3px;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  border-radius: 10px;
  transition: background-color 0.3s ease-in-out;

  &.button-overlay-selected {
    background-color: $custom-white-color-100 !important;
  }
}

.priority-button {
  height: 50px;
  padding: 0 20px;
  background-color: $custom-black-color-100;
  border-radius: 8px;
  border: 0px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;

  &.priority-button-active-low {
    background-color: rgba(50, 205, 50, 0.7);
    @extend .low-priority-level-bg-gradient;
  }

  &.priority-button-active-medium {
    background-color: rgba(255, 165, 0, 0.7);
    @extend .medium-priority-level-bg-gradient;
  }

  &.priority-button-active-high {
    background-color: rgba(255, 69, 0, 0.7);
    @extend .high-priority-level-bg-gradient;
  }

  @media (max-width: $extra-large-2) {
    padding: 0 15px;
  }

  @media (max-width: $large) {
    padding: 0 10px;
  }
}

.priority-button-text {
  text-transform: uppercase;
  color: white;
  background: transparent;
  font-weight: 600;
  font-size: 1rem;
  letter-spacing: 2px;

  &.priority-button-text-selected {
    -webkit-text-fill-color: $custom-white-color-100;
    background: transparent !important;
  }

  @media (max-width: $extra-large-2) {
    font-size: 12px;
  }
}
