<div
  [ngClass]="{
    'button-overlay-selected': isPrioritySelected()
  }"
  class="button-overlay"
  [class]="getButtonStylingDependsOnPriorityName(priorityName())"
>
  <button
    [ngClass]="[
      isPrioritySelected()
        ? getStylingDependsOnSelectedPriority(priorityName())
        : ''
    ]"
    (click)="onPrioritySelect()"
    class="priority-button"
    type="button"
  >
    <p
      [ngClass]="{
        'priority-button-text-selected': isPrioritySelected()
      }"
      class="priority-button-text"
      [class]="getTextStylingDependsOnPriorityName(priorityName())"
    >
      {{ priorityName() }}
    </p>
  </button>
</div>
