@import "../../../variables.scss";
@import "../../../styles.scss";

.button-overlay {
  height: 55px;
  padding: 0 3px;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  border-radius: 10px;

  &.button-overlay-selected {
    background: $custom-white-color-100 !important;
  }

  &.button-overlay-low {
    @extend .low-priority-level-bg-gradient;
  }

  &.button-overlay-medium {
    @extend .medium-priority-level-bg-gradient;
  }

  &.button-overlay-high {
    @extend .high-priority-level-bg-gradient;
  }
}

.priority-button {
  height: 50px;
  padding: 0 20px;
  background-color: $custom-black-color-100;
  border-radius: 8px;
  border: 0px;
  cursor: pointer;

  &.priority-button-active-low {
    @extend .low-priority-level-bg-gradient;
  }

  &.priority-button-active-medium {
    @extend .medium-priority-level-bg-gradient;
  }

  &.priority-button-active-high {
    @extend .high-priority-level-bg-gradient;
  }
}

.priority-button-text {
  text-transform: uppercase;
  color: white;
  background: transparent;
  font-weight: 600;
  font-size: 1rem;
  letter-spacing: 2px;

  &.priority-button-text-selected {
    -webkit-text-fill-color: $custom-white-color-100;
    background: transparent !important;
  }

  &.priority-button-text-low {
    @extend .low-priority-level-text-gradient;
  }

  &.priority-button-text-medium {
    @extend .medium-priority-level-text-gradient;
  }

  &.priority-button-text-high {
    @extend .high-priority-level-text-gradient;
  }
}
